@page "/coffees"
@using CoffeeBrowser.Maui.Data
@inject ICoffeeService CoffeeService

<h3>Coffees</h3>

@if (_coffees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var coffee in _coffees)
            {
                <tr>
                    <td>@coffee.Name</td>
                    <td>@coffee.Description</td> 
                </tr>
            }
        </tbody> 
    </table>
} 

@code {
    private IEnumerable<Coffee> _coffees = null;

    protected override async Task OnInitializedAsync()
    {
        _coffees = await CoffeeService.LoadCoffeesAsync();
    }
}
